# dot files
/.vscode/launch.json
/.settings
/.eide/log
/.eide.usr.ctx.json

# project out
/build
/bin
/obj
/out

# eide template
*.ept
*.eide-template

.vscode/
stm32f103VE-free.code-workspace
.clang-format
.cmsis/
.eide/
.pack/
RTE_Components.h
F103FreeRTOSTEST.code-workspace



